.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
}
.tareas{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}
.tarea{
    width: 100%;
    height: 10rem;
    background-color: cadetblue;
}
.informacion {
    width: 100%;
    height: fit-content;
}